// TYPOGRAPHY
$default-font-family: "Raleway";
$secondary-font-family: "Barlow Semi Condensed";

// COLOURS
$color-grey-light-1: #f2f2f2;
$color-grey-middle-1: #898989;
$color-grey-dark-1: #373737;
$color-black: #000;

$color-blue-middle-1: #1a86e3;
$color-blue-light-1: #3ebff1;
