.footer {
  text-align: center;

  &__link {
    // font-size: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 2vh;
    text-transform: uppercase;
    color: $color-grey-dark-1;
    text-decoration: none;
    font-weight: 500;
    transition: all 0.3s;

    &:hover {
      color: $color-blue-middle-1;
    }

    &:focus {
      outline: none;
    }
  }
}
