.work {
  &__images {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    &--btns {
      display: flex;
      justify-content: center;
    }

    &--5 {
      text-align: center;
      color: $color-grey-light-1;
      border-radius: 2vh;
      width: 70vw;
      height: 40vw;
      background-image: url(../img/ThaiTerrace-Thumbnail.jpg);
      background-position: center;
      background-size: cover;
      overflow: hidden;
      margin-bottom: 8vh;
      box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
    }

    &--4 {
      text-align: center;
      color: $color-grey-light-1;
      border-radius: 2vh;
      width: 70vw;
      height: 40vw;
      background-image: url(../img/OnwardTravel-Thumbnail.jpg);
      background-position: center;
      background-size: cover;
      overflow: hidden;
      margin-bottom: 8vh;
      box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
    }

    &--3 {
      text-align: center;
      color: $color-grey-light-1;
      border-radius: 2vh;
      width: 70vw;
      height: 40vw;
      background-image: url(../img/CottonOn-Thumbnail.jpg);
      background-position: center;
      background-size: cover;
      overflow: hidden;
      margin-bottom: 8vh;
      box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
    }

    &--1 {
      text-align: center;
      color: $color-grey-light-1;
      border-radius: 2vh;
      width: 70vw;
      height: 40vw;
      background-image: url(../img/Gap360-Thumbnail.jpg);
      background-position: center;
      background-size: cover;
      overflow: hidden;
      margin-bottom: 8vh;
      box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
    }

    &--2 {
      text-align: center;
      color: $color-grey-light-1;
      border-radius: 2vh;
      width: 70vw;
      height: 40vw;
      background-image: url(../img/CCS-Thumbnail.jpg);
      overflow: hidden;
      background-position: center;
      background-size: cover;
      margin-bottom: 5rem;
      box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
    }

    &--text {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      border-radius: 2vh;
      background-color: rgba($color-black, 0.2);
      backdrop-filter: blur(10vh);
      opacity: 0;
      transition: all 0.4s;

      &:hover {
        opacity: 1;
      }
    }

    &--heading {
      font-family: $secondary-font-family;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: 400;
      font-size: 5vh;
    }

    &--languages {
      padding-top: 1vh;
      padding-bottom: 1vh;
      font-size: 2vh;
      font-weight: 400;
    }

    &--info {
      margin: 0 auto;
      font-size: 2.5vh;
      width: 80%;
    }
  }
}

.scroll-down-work {
  padding-top: 1rem;
}

// MEDIA QUERIES

@media only screen and (max-width: 768px) {
  .work {
    &__images {
      &--5 {
        width: 90vw;
        height: 50vw;
      }
      &--4 {
        width: 90vw;
        height: 50vw;
      }
      &--3 {
        width: 90vw;
        height: 50vw;
      }
      &--1 {
        width: 90vw;
        height: 50vw;
      }

      &--2 {
        width: 90vw;
        height: 50vw;
      }

      &--heading {
        font-size: 4vh;
      }
      &--languages {
        font-size: 1.5vh;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .work {
    &__images {
      &--heading {
        font-size: 3vh;
      }
      &--languages {
        font-size: 1.2vh;
        padding-top: 0.5vh;
        padding-bottom: 0.5vh;
      }
      &--info {
        font-size: 2vh;
      }
    }
  }
}

@media only screen and (max-width: 375px) {
  .work {
    &__images {
      &--heading {
        font-size: 2vh;
      }
      &--languages {
        font-size: 1vh;
      }
      &--info {
        font-size: 1.3vh;
      }
    }
  }
}
