.arrivals {
  height: 60vh;
  width: 80vw;
  background-image: url(../img/new-arrivals.png);
  background-position: top;
  background-size: cover;
  margin: 10vh auto 0 auto;

  display: flex;
  justify-content: center;
  align-items: flex-end;
  cursor: pointer;
  text-decoration: none;

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7vh;
    width: 100%;
    background-color: $color-secondary;
  }
  &__text {
    color: $color-primary;
    // font-size: 2.5rem;
    font-size: 3vh;
    font-weight: 600;
    text-transform: uppercase;

    &--span {
      color: $color-grey-light;
      font-weight: 400;
    }
  }
}

@media screen and (max-width: $phone) {
  .arrivals {
    background-image: url(../img/new-arrivals-backup.jpg);
    background-position: top;
    background-size: cover;
    &__text {
      font-size: 2rem;
    }
  }
}
