.facemask {
  &__container {
    display: inline-flex;
    align-items: center;
    // margin: 0 auto;
    padding-left: 8vw;
    padding-right: 5vw;
  }
  &__img {
    width: 40vw;
  }
  &__text {
    margin-left: 4vw;
    &--heading {
      color: $color-primary;
      // width: 70%;
      font-size: 7rem;
    }
    &--para {
      margin-top: 5vh;
      margin-bottom: 5vh;
      font-size: 2rem;
    }
    &--btn {
      font-size: 2.5rem;
      color: $color-primary;
      transition: all 0.2s;

      &:hover {
        color: $color-primary-light;
        text-decoration: none;
      }

      &:not(:last-child) {
        margin-right: 6vw;
      }
    }
  }
}

@media screen and (min-width: $desktop-lg) {
  .facemask {
    &__text {
      &--heading {
        font-size: 12rem;
      }
      &--para {
        font-size: 3rem;
      }
      &--btn {
        font-size: 4rem;
      }
    }
  }
}

@media screen and (max-width: $tablet) {
  .facemask {
    &__text {
      &--heading {
        font-size: 4rem;
      }
      &--para {
        margin-top: 2vh;
        margin-bottom: 2vh;
        font-size: 1.5rem;
      }
      &--btn {
        font-size: 2rem;
      }
    }
  }
}

@media screen and (max-width: $phone) {
  .facemask {
    &__container {
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
    }

    &__img {
      width: 80vw;
    }
    &__text {
      margin-top: 2vh;
      text-align: center;
      &--heading {
        font-size: 2.5rem;
      }
      &--para {
        font-size: 1.2rem;
      }
      &--btn {
        font-size: 1.1rem;
      }
    }
  }
}
