.navigation {
  height: 11vh;
  background-color: $color-primary;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vw;

  .nav__hide {
    display: none;
  }

  &__logo--logo {
    height: 2rem;
    fill: $color-grey-light;
  }

  &__list {
    &--list {
      display: inline-flex;
      list-style: none;
    }

    &--item {
      padding: 1vw;
    }

    &--link {
      text-decoration: none;
      color: $color-grey-light;
      font-size: 1.4em;
      text-transform: uppercase;

      &:hover {
        font-weight: 500;
      }

      &:focus {
        outline: none;
      }
    }

    &--curr {
      background-color: transparent;
      border: none;

      &:hover {
        cursor: pointer;
      }

      &:focus {
        outline: none;
      }
    }
  }

  .burger {
    display: none;

    &__line {
      width: 2.5rem;
      height: 0.3rem;
      background-color: $color-grey-light;
      margin: 0.4rem;
      transition: all 0.4s ease-out;
    }
  }
}

.under-nav {
  background-color: $color-secondary;
  height: 5vh;

  &__list {
    list-style: none;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;

    &--link {
      padding: 1vw;
      text-decoration: none;
      color: $color-grey-light;
      font-size: 1.6em;
      font-weight: 600;
      text-transform: uppercase;
      transition: all 0.2s;

      &:hover {
        color: $color-primary;
      }

      &:focus {
        outline: none;
      }

      &-sale {
        color: $color-primary;

        &:hover {
          color: $color-grey-light;
        }
      }
    }
  }

  &__search {
    &--bar {
      position: absolute;
      right: 0;
      margin-top: 1vh;
      margin-right: 3vw;
      letter-spacing: 0;

      border-radius: 50px;
      border: none;
      height: 3vh;
      width: 18vw;
      padding-left: 1vw;
      padding-right: 2.5vw;

      &:focus {
        outline: none;
      }
    }

    &--btn {
      &-btn {
        height: 2vh;
        position: absolute;
        right: 0;
        margin-top: 1.5vh;
        margin-right: 4vw;
        cursor: pointer;
      }
    }
    &--submit {
      display: none;
    }
  }
}

// MEDIA QUERIES

@media screen and (max-width: $tablet) {
  body {
    overflow-x: hidden;
  }

  .navigation {
    .nav__hide {
      display: flex;
    }

    &__list {
      &--left {
        display: none;
      }
      &--list {
        position: fixed;
        left: 0;
        height: 100vh;
        width: 100vw;
        padding-top: 16vh;
        padding-bottom: 16vh;
        top: 0;
        // top: 0;
        overflow-x: hidden;
        background-color: $color-primary;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        transform: translateX(100%);
        // display: none;
        transition: 0.5s ease-in;
      }
      &--link {
        font-size: 3rem;
        padding: 1vh;
        opacity: 0;
        transition: all 0.5s ease-in;

        &:hover {
          font-weight: 400;
          text-decoration: underline;
        }
      }
    }

    .burger {
      display: block;
      cursor: pointer;
    }
  }
}

.under-nav {
  &__search {
    &--bar {
      display: none;
    }
    &--btn {
      &-btn {
        display: none;
      }
    }
  }
}

.open {
  .navigation {
    &__list {
      &--list {
        transform: translateX(0);
      }
      &--link {
        opacity: 1;
      }
    }
  }
  .burger {
    &__line {
      &--1 {
        transform: rotate(45deg) translateY(1rem);
      }
      &--3 {
        transform: rotate(-45deg) translateY(-1rem);
      }
      &--2 {
        transform: translateX(5rem);
        opacity: 0;
      }
    }
  }
}

@media screen and (min-width: 769px) {
  .under-nav {
    &__search {
      &--bar {
        display: block;
      }
      &--btn {
        &-btn {
          display: block;
        }
      }
    }
  }
}

@media screen and (max-width: $phone) {
  .under-nav {
    &__list {
      &--link {
        font-size: 1.25rem;
      }
    }
  }
}
