.shop {
  width: 100%;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  &__card {
    width: 25rem;
    height: 40rem;
    margin: 2.5vw;
    text-decoration: none;

    // &:hover {
    //   cursor: pointer;
    // }

    &--men {
      background-image: url(../img/coMen.jpg);
      background-position-y: 7vh;
      background-size: cover;
      background-repeat: no-repeat;
    }
    &--women {
      background-image: url(../img/coWomen.jpg);
      background-position-y: 6.5vh;
      background-size: cover;
    }
    &--kids {
      background-image: url(../img/coKids.jpg);
      background-position-y: 2vh;
      background-position-x: center;
      background-size: cover;
    }
    &--body {
      background-image: url(../img/coBody.jpg);
      background-position-y: 7vh;
      background-size: cover;
    }
  }

  &__text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 7vh;
    background-color: $color-secondary;
    color: $color-primary;
    fill: $color-grey-light;
    font-size: 3vh;
    text-transform: uppercase;

    &--span {
      font-weight: 400;
      color: $color-grey-light;
      margin-right: 0.5vw;
    }

    &--icon {
      height: 3.5vh;
    }
  }
}
@media screen and (min-width: $desktop-lg) {
  .shop {
    &__card {
      width: 20vw;
      height: 55vh;
    }
  }
}

@media screen and (min-width: 769px) and (max-width: $desktop-med) {
  .shop {
    &__card {
      width: 20vw;
      height: 55vh;
    }
  }
}

@media screen and (max-width: $phone) {
  .shop {
    &__text {
      font-size: 2rem;
    }
  }
}
