.section-arrivals {
  height: 65vh;
  width: 100%;
}

.section-shop {
  height: auto;
  width: 100%;
}

.section-facemask {
  margin-top: 4vh;
}

.section-perks {
  margin-top: 16vh;
  height: 30vh;
  width: 100%;
}

.section-footer {
  height: 50vh;
  width: 100%;
}
