.carousel {
  display: flex;
  align-items: center;
  margin: 2vh auto;
  padding-bottom: 5vh;
  overflow: hidden;
  position: relative;
  width: 90%;

  &__images {
    display: flex;
    transform: translateX(0);
    transition: transform 0.25s;

    &--card {
      margin: 1vw;
      width: 28vw;
      height: 50vw;
    }

    &--link {
      text-decoration: none;
      color: $color-secondary;
    }

    &--img {
      width: 28vw;
      height: 43vw;
    }

    &--text {
      margin-left: 0.5vw;
      font-size: 2rem;

      &-1 {
        margin-top: 0.5vw;
      }
    }
  }

  &__button {
    background-color: $color-white;
    opacity: 0.75;
    color: $color-secondary;
    border: none;
    height: 6rem;
    width: 6rem;
    border-radius: 50px;
    position: absolute;
    font-size: 6rem;
    line-height: 0;
    font-weight: 300;
    text-align: center;
    cursor: pointer;
    z-index: 1;
    padding-bottom: 0.5rem;
    transition: all 0.3s;

    &:hover {
      opacity: 1;
    }

    &:focus {
      outline: none;
    }

    &--previous {
      left: 3vw;
      padding-right: 0.5rem;
    }

    &--next {
      right: 3vw;
      padding-left: 0.5rem;
    }
  }
}

@media screen and (max-width: $phone) {
  .carousel {
    &__images {
      &--text {
        font-size: 1rem;
      }
    }
  }
}
