$color-primary: #ea3232;
$color-primary-light: #ff5757;
$color-secondary: #252525;

$color-grey-light: #f6f6f6;
$color-white: #fff;

$color-green-1: #0aac4d;
$color-amber-1: #ffc200;

// FOR MEDIA QUERIES
$phone: 425px;
$tablet: 768px;
$desktop-med: 1250px;
$standard: 1440px;
$desktop-lg: 1500px;
